<ul>
    <% @songs.each do |song| %>
        <li>
            <a href="<%= song_path(song) %>">
            <%= song.artist_name %> - <%= song.title %>
            </a>
        </li>
    <% end %>
</ul>
#  Was playing around and deconstructing the parts of the a tag.
<a href="http://localhost:3000/songs/new">Make a New Song</a>